<section id="showcase">
  <div class="container">
    <div class="row">
      <div class="col s4">
        <div class="center promo">
          <i class="material-icons">brush</i>
          <h2 class="flow-text">Sed eu orci tempus</h2>
          <p class="flow-text">Vestibulum at porta arcu. Mauris sed mauris vel sapien gravida tempus.</p>
        </div>
      </div>
      <div class="col s4">
        <div class="center promo">
          <i class="material-icons">whatshot</i>
          <h2 class="flow-text">Vivamus cursus libero</h2>
          <p class="flow-text">Maecenas urna ex, condimentum in eleifend id, aliquam nec justo.</p>
        </div>
      </div>
      <div class="col s4">
        <div class="center promo">
          <i class="material-icons">group</i>
          <h2 class="flow-text">Morbi scelerisque</h2>
          <p>Consectetur adipisicing elit. Asperiores dicta distinctio doloribus.</p>
        </div>
      </div>
    </div>
  </div>
</section>
