<section id="grid">
  <h1 class="center">Featured work</h1>
  <div class="grid s12">
    <div class="">
      <div class="gridCell"><img src="assets/img/grid/1.jpg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/2.jpg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/3.jpg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/4.jpg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/5.jpg" class="z-depth-2" alt=""></div>
    </div>
    <div class="">
      <div class="gridCell"><img src="assets/img/grid/8.jpg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/9.jpg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/10.jpg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/11.jpg" class="z-depth-2" alt=""></div>
    </div>
    <div class="">
      <div class="gridCell"><img src="assets/img/grid/15.jpg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/16.jpeg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/17.jpeg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/18.jpg" class="z-depth-2" alt=""></div>
    </div>
    <div class="">
      <div class="gridCell"><img src="assets/img/grid/22.jpg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/23.jpg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/24.jpg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/25.jpg" class="z-depth-2" alt=""></div>
      <div class="gridCell"><img src="assets/img/grid/26.jpeg" class="z-depth-2" alt=""></div>
    </div>
  </div>
</section>
