$primary : #c14545;
$secondary: #ea4c4c;
$dark: #703b3b;
$light: #faf4d0;

#contact{
  background-color: $secondary;
  padding: 2.5% 0;
  .container{
    h2{
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      color: lighten($light, 30%);
      margin-top: 0;

      &::selection{
        background-color: fade_out(white, .2);
        color: $secondary;
      }
    }
    input{
      font-size: 1.3em;
      color: white;
      font-family: Raleway, sans-serif;
      border-bottom: solid lighten($light, 30%) 2px;
      padding: 0 10px;
    }
    button{
      margin-bottom: 8px;
      margin-left: 1%;
      box-shadow: none;
      transition: all .2s;
      text-transform: capitalize;
      background: rgba(255,255,255,0.3);
      color: white;
      font-family: Raleway, sans-serif;
      font-size: 1.4em;
      &:hover{
        background: white;
        color: $secondary;
      }
    }
  }
}
