#quote{

  div{
    padding: 5% 10%;
    height: 22%;
    p{
      font-size: 1.8em;
      font-style: italic;
      font-weight: normal;
      line-height: 26px;
      min-height: 2em;
    }
    span{
      font-size: 1.6em;
      text-align: right;
      font-weight: 700;
      width: 100%;
      display: inline-block;
      line-height: 26px;
      color: #EA4C4C;
    }
  }
}


.shown{
  opacity: 1;
  transition: opacity .5s;
}

.hidden{
  transition: opacity .5s;
  opacity: 0;
}
